@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$primary: #1230ae;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Merriweather", serif;
  background-color: black;
  color: white;
}
img {
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
}

.container {
  width: 1200px;
  max-width: 90%;
  margin: 0 auto;
}

.heading {
  text-align: center;
}

.form-wrapper {
  width: 540px;
  max-width: 90%;
  margin: 0 auto;
  .input-group {
    margin-bottom: 1rem;
    label {
      display: block;
      margin-bottom: 0.5rem;
    }
    input {
      display: block;
      width: 100%;
      padding: 0.5rem 0rem;
      text-indent: 20px;
    }
  }
  button {
    display: block;
    width: 100%;
    padding: 0.5rem 0rem;
    background-color: $primary;
    color: white;
    cursor: pointer;
    transition: all ease-in-out 300ms;
    &:hover {
      background-color: white;
      color: $primary;
    }
  }
}
