header .container {
  display: flex;
  padding: 2rem 0rem;
  justify-content: space-between;
  align-items: center;
  nav {
    a {
      color: white;
      display: inline-block;
      margin-left: 1rem;
    }
    button {
      display: inline-block;
      margin-left: 1rem;
      padding: 0.2rem 1rem;
      cursor: pointer;
    }
  }
}
